
.content__container{
  width: 50rem;
  height: 100%;
  color: #6c92ba;
  font-size: 1.5rem;
  margin: 0 0;
.pagination{
  ul{
    display: flex;
    list-style: none;
    li{
      margin: 1rem;
    }
  }
}

}
